<?xml version="1.0"?>
<definitions>
  <definition>
    <key>heading_title</key>
    <value><![CDATA[منو]]></value>
  </definition>
  <definition>
    <key>text_success</key>
    <value><![CDATA[موفقیت: شما منو تغییر کرده اند!]]></value>
  </definition>

  <definition>
    <key>entry_item_id</key>
    <value><![CDATA[شناسه ايدي]]></value>
  </definition>
  <definition>
    <key>entry_item_icon</key>
    <value><![CDATA[ايكون]]></value>
  </definition>
  <definition>
    <key>entry_item_text</key>
    <value><![CDATA[متن]]></value>
  </definition>
  <definition>
    <key>entry_item_url</key>
    <value><![CDATA[لينك<br /><span class="help">برای لینک های خارجی اضافه http:// or https:// در آغاز</span>]]></value>
  </definition>
  <definition>
    <key>entry_parent_id</key>
    <value><![CDATA[منبع]]></value>
  </definition>
  <definition>
    <key>entry_sort_order</key>
    <value><![CDATA[ترتيب]]></value>
  </definition>
  <definition>
    <key>entry_link_category</key>
    <value><![CDATA[لينك به شاخه]]></value>
  </definition>
  <definition>
    <key>entry_link_page</key>
    <value><![CDATA[لينك به صفحه]]></value>
  </definition>
  <definition>
    <key>text_link</key>
    <value><![CDATA[لينك]]></value>
  </definition>
  <definition>
    <key>text_select_parent_id</key>
    <value><![CDATA[- منوي اصلي -]]></value>
  </definition>
  <definition>
    <key>error_empty</key>
    <value><![CDATA[فيلد نميتواند خالي باشد!]]></value>
  </definition>
  <definition>
    <key>error_non_unique</key>
    <value><![CDATA[ايدي درست نيست!]]></value>
  </definition>
  <definition>
    <key>error_non_ascii</key>
    <value><![CDATA[تنها شخصیت های الفبایی مجاز برای درست کردن منو ID!]]></value>
  </definition>
</definitions>