@charset "utf-8";

/* Top block positioning */
.headerstrip_blocks .block_1 {
	float: right;
	margin-left: 10px;
}
.headerstrip_blocks .block_2 {
	float: right;
}
.headerstrip_blocks .block_3 {
	float: right;
}
.headerstrip_blocks .block_4 {
	float: left;
}
.headerdetails .block_5 {
	float: right;
}
.headerdetails .block_6 {
	float: right;
}
.headerdetails .block_7 {
	float: right;
}
.headerdetails .block_8 {
	float: left;
}


.dropdown-menu {
	white-space: normal;
	padding: 10px;
	position: absolute !important;
	top: 97%;
	left: 7px;
	z-index: 99999;
	display: none;
	float: left;
	min-width: 210px;
	margin: 1px 0 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom: 4px solid #00A1CB;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}

.dropdown-menu:before {
	position: absolute;
	top: -7px;
	right: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid rgba(0, 0, 0, 0.2);
	border-left: 7px solid transparent;
	content: '';
}


.dropdown-menu:after {
	position: absolute;
	top: -6px;
	right: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	border-left: 6px solid transparent;
	content: '';
}


.search-bar .button-in-search {
	float: left;
	margin-top: 2px;
	margin-left: -200px;
	font-size: 24px;
}


ul.categorymenu > li > div {
	display: none;
	padding: 15px;
	position: absolute;
	top: 97%;
	right: 7px;
	z-index: 99999;
	display: none;
	float: right;
	min-width: 180px;
	margin: 1px 0 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-bottom: 4px solid #00A1CB;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
}


.otherddetails .otherddetailspart .innerclass.free {
	background-position: 300px 29px
}

.otherddetails .otherddetailspart .innerclass.payment {
	background-position: 300px -103px
}

.otherddetails .otherddetailspart .innerclass.shipping {
	background-position: 300px -240px
}

.otherddetails .otherddetailspart .innerclass.choice {
	background-position: 300px -360px
}
.otherddetails .otherddetailspart .innerclass {
	padding: 25px 90px 25px 0px;
	background: url(../image/otherdetailicon.png) no-repeat 10px top;
}

ul.productinfo li .productinfoleft {
	width: 160px;
	float: right;
	font-weight: bold
}

.total-price {
	font-size: 18px;
	color: #00A1CB;
        float: left;
}